networks:
  forgejo:
    external: false

services:
  server:
    image: codeberg.org/forgejo/forgejo:13
    container_name: forgejo
    environment:
      - USER_UID=1030
      - USER_GID=65536
    restart: always
    networks:
      - forgejo
    volumes:
      - /mnt/docker/forgejo:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - '6000:3000'
      - '6022:22'
