version: '2'
services:
  factorio:
    image: factoriotools/factorio:latest
    container_name: factorio
    ports:
     - "34197:34197/udp"
     - "27015:27015/tcp"
    volumes:
     - /mnt/docker/factorio:/factorio 
    environment:
     - PUID=1030
     - PGID=1000
